.topbar {
    position: relative;
    padding: 12px 0px;
    background-color: $fiord;
    z-index: 1;
    .topbar-inner {
        text-align: center;
        p {
            font-weight: 500;
            font-size: $f-12;
            line-height: normal;
            letter-spacing: 0.1px;
            color: $white;
            @include font-mont;
            a {
                font: inherit;
                color: inherit;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                @include text-style-initial;
                span {
                    bottom: -2px;
                    position: relative;
                }
                svg path {
                    stroke: #ffffff;
                }
            }
            @include media-max(640px) {
                font-size: 10px;
            }
        }
    }   
    &.not-landing-page {
        background: #FFFFFF;
        .topbar-inner p {
            color: #111111;
            a {
                svg path {
                    stroke: #111111;
                }
            }
        }
    }
    @include media-max(640px) {
        padding: 9px 0px;
    }
}

#main-header {
    padding: 19px 0px;
    position: relative;
    z-index: 9;
    background-color: $swamp;
}

.header-flex {
    @include disp-flex-wr;
    align-items: center;
    justify-content: space-between;   
}

.header-logo {
    width: 140px;
    a {
        max-width: 100%;
        width: 100%;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    @include media-max(640px) {
        width: 110px;
    }
}

.header-nav {
    nav {
        ul {
            @include disp-flex-wr;
            gap: 48px;
            li {
                a {
                    @include text-style-upper;
                    padding: 0 0 3px;
                    font-size: $f-13;
                    font-weight: 500;
                    @include media-max(640px) {
                        font-size: 12px;
                    }
                }
            }
            @include media-max(640px) {
                gap: 18px;
            }
        }
    }
}

.header-right {
    .header-nav-hamburger {
        display: none;
    }
    @include media-max(640px) {
        .header-nav {
            position: fixed;
            top: 0;
            left: -100%;
            width: 80%;
            height: 100%;
            background: #002737;
            z-index: 1;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.21);
            transition: 0.4s ease-in-out;
            nav {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    flex-direction: column;
                    li {
                        text-align: center;
                        a {
                            font-size: 18px;
                        }
                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            &.nav-active {
                left: 0;
            }
        }
        .header-nav-hamburger {
            display: block;
            button {
                background: transparent;
                border: 0px;
                outline: none;
                cursor: pointer;
                transition: 0.6s ease-in-out;
                span {
                    width: 30px;
                    height: 2px;
                    background: #FFFFFF;
                    margin-bottom: 6px;
                    display: block;
                    transition: 0.6s ease-in-out;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &.active {
                    transform: rotate(45deg);
                    transition-delay: 0.7s;
                    span:first-child {
                        transform: rotate(90deg) translateX(8px);
                    }
                }
            }
        }
    }       
}