$f-42 : calc(32px + .8vw);
$f-33 : calc(23px + .8vw);
$f-30 : calc(20px + .8vw);
$f-28 : calc(18px + .8vw);
$f-24 : calc(14px + .8vw);
$f-23 : calc(13px + .8vw);
$f-22 : calc(12px + .8vw);
$f-21 : calc(11px + .8vw);
$f-20 : calc(10px + .8vw);
$f-18 : calc(08px + .8vw);
$f-17 : calc(07px + .8vw);
$f-16 : calc(06px + .8vw);
$f-15 : calc(05px + .8vw);
$f-14 : calc(04px + .8vw);
$f-13 : calc(03px + .8vw);
$f-12 : calc(02px + .8vw);
$line-height-30 : 30px;
$line-height-28 : 28px;
$line-height-26 : 26px;
$line-height-24 : 24px;
$line-height-22 : 22px;
$line-height-20 : 20px;

$cfr-blue : #00EC93;
$elephant : #0B2736;
$black-pearl : #061C27;
$raven : #78828F;
$red-linear : linear-gradient(90deg, #FB0131 0%, #8B1EC8 100%);
$jaffa : #F19839;
$well-read : #BA3932;
$gull-gray : #95A2B4;
$whisper : #FBFBFD;
$porcelain : #E1E5E8;
$blur-bg : radial-gradient(87.56% 195.84% at 14.14% 27.09%, rgba(18, 255, 255, 0.5) 0%, rgba(253, 151, 226, 0.5) 100%);
$white : #FFFFFF;
$selective-yellow : #FFB600;
$yellow-linear : linear-gradient(181.74deg, #FFFFFF -34.94%, #FFB600 98.52%);
$shuttle-gray : #566477;
$pomegranate : #ED392E;
$pizzazz : #FF8A00;
$supernova : #FFCC00;
$mountain-meadow : #1FD367;
$azure-radiance : #0085FF;
$athens-gray : #F7F7F9;
$swamp : #001C29;
$spring-green : #00EC93;
$spring-green-fade : #002737;
$geyser : #DAE3E7;
$eternity : #1E210D;
$blue-zodiac : #0C2340;
$fiord : #425761;
$gordons-green : #0F1106;
$green-haze : #00A165;
$cod-gray : #111111;
$seance : #9721b6;
$tiber : #0a303f;
$mirage : #1D263A;
$eleph-2 : #0F3443;
$prussian-blue : #003246;
$red-violet : #C4157A;
$prussian-blue-2 : #00354B;


$radius-16 : 16px;
$radius-24 : 24px;
$radius-46 : 46px;

$padding-17 : 17px;
$padding-24 : 24px;

